<!--
  # 后端测试数据库连接情况【已验证】
  # 最后编译时间 2023-03-13
  # 存在问题【暂无】
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>监测数据历史记录</title>
</head>
<body>
    <h1>监测数据历史记录</h1>
    <div id="list">
        <a>目标代号&nbsp;&nbsp;&nbsp;&nbsp;目标大小&nbsp;&nbsp;&nbsp;&nbsp;目标置信度</a>
        {% for item in show_data_db1 %}
            <div class="p">
            <h4>{{ item['目标类型及编号'] }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item['目标大小'] }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item['置信度'] }}</h4>
            </div>
        {% endfor %}
    </div>
</body>
</html>
